#fooditems {
    list-style-type: disc;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style-type: none;
}

#fooditems ul {
    margin-left: 20px;
}

#fooditems li {
    margin-bottom: 10px;
}

ul ul{
    font-weight: normal;
}

li {
    margin-bottom: 10px;
}

#fooditem {
    font-size: 22px;
    font-weight: bold;
}

