table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
    width: 120px;
}

th {
    background-color: #dadada;
}

td{
    background-color: #efefef;
}
.box {
    height: 100vh;
    width: 100vw;
  }
.container {
    display: flex;
    background-color: rgb(212, 212, 212);
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.date{
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 130px;
    font-weight: bold;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.accommodation{
    background-color: rgb(201, 199, 199);
    padding: 10px;
    font-size: 22px;
    text-align: center;
}
.activity {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.time, .activity-name, .notes{
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.time, .activity-name{
    border-right: 1px solid rgb(167, 167, 167);
}



