a {
    font-weight: bold;
}

table {
    width: 100%;
    font-size: 18px;
}

tr, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
    width: 120px;
}

th {
    background-color: #dadada;
}

td{
    background-color: #efefef;
    height: max-content;
}

.container {
    display: flex;
    background-color: rgb(164, 164, 164);
    margin: 25px;
    border-radius: 10px;
}

.table-container {
    display: none;
    background-color: rgb(164, 164, 164);
    margin: 25px;
    border-radius: 10px;
}

.date{
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 130px;
    font-weight: bold;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accommodation{
    background-color: rgb(172, 172, 172);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.activity {
    background-color: rgb(181, 181, 181);
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.activity span {
    padding: 10px;
}

.button{
    text-align: center;
    background-color: transparent;
}

.collapsible{
    text-align: center;
    background-color: transparent;
    border: none;
    margin: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* .collapsible {
    width: 100%;
    padding: 24px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s;
} */

.information-container{
    display: none;
}

@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        width: auto;
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        padding-left: 49%;
        position: relative;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 62%;
        padding-left: 8.5px;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
    }

    .container {
        display: block;
    }

    .date,
    .details {
        border-radius: 0;
        display: block;
        width: 100%;
    }

    .date {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
    }

    .details {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .activity {
        display: block;
    }

    .activity .time,
    .activity .activity-name,
    .activity .notes {
        width: 100%;
        box-sizing: border-box;
    }
}

